# Godot 4+ specific ignores
.godot/
/android/
.import/
export_presets.cfg
*.translation
.mono/
data_*/
mono_crash.*.json
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
export.cfg